{
  "description": "投资管家小程序",
  "packOptions": {
    "ignore": [],
    "include": []
  },
  "setting": {
    "es6": true,
    "postcss": true,
    "minified": true,
    "enhance": true,
    "coverView": true,
    "compileWorklet": false,
    "uglifyFileName": false,
    "uploadWithSourceMap": true,
    "packNpmManually": false,
    "packNpmRelationList": [],
    "minifyWXSS": true,
    "minifyWXML": true,
    "localPlugins": false,
    "disableUseStrict": false,
    "useCompilerPlugins": false,
    "condition": false,
    "swc": false,
    "disableSWC": true,
    "babelSetting": {
      "ignore": [],
      "disablePlugins": [],
      "outputPath": ""
    }
  },
  "compileType": "miniprogram",
  "miniprogramRoot": "miniapp/",
  "cloudfunctionRoot": "cloudfunctions/",
  "simulatorPluginLibVersion": {},
  "appid": "your_appid_here",
  "projectname": "investment-miniapp",
  "editorSetting": {},
  "libVersion": "3.14.3",
  "cloudfunctionTemplateRoot": "cloudfunctionTemplate/"
}
